@{
    ViewBag.Title = "Confirmation Sent";
}
<div class="b-general">
    <h2 class="text-center">Your Confirmation Email has been sent</h2>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
