@{
    ViewBag.Title = "Confirmation Email Sent";
}
<div class="b-general">
    <h2 class="text-center">Your Confirmation Email has been sent</h2>
    <br />
    <br />
    <p>Please check your email and confirm your email address.</p>
    <br />
    <br />
    <br />
</div>
