@using BudgetToolRAR.Models

@*@{
        ViewBag.Title = "Log in";
    }*@


<!-- light-blue - v3.1.0 - 2014-12-06 -->

<!DOCTYPE html>
<html>

<body class="background-dark">
    <div class="logo">
        <h3>Budget Tool</h3>
    </div>
   
        <!-- page specific scripts -->


</body>
</html>
