
   @* <br /> *@
    <br />

    <!-- Grid page -->

    <div class="container">
        <div class="row">
            <div class="col-md-9">

            </div>
            <div class="col-md-3">
                <br />
                <p>
                    @*@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary h4" })
               
               
                    @Html.ActionLink("Register as a new user", "Register", "Account", null, new { @class = "btn btn-primary h4" })*@
                
                
                    @using(Html.BeginForm("LoginAsAdmin", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-primary h4">Log in as Guest</button>
                    }
                </p>
            </div>
        </div>
        @*<div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
        </div>*@
        
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1 class="black">Welcome to the Bug Tracker</h1>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3">
               <img src="~/images/Fly swater.jpg" class="img-responsive" alt="" />
            </div>
            <div class="col-md-9"></div>
            <br />
            <br />
            <h3 class="black">
                The purpose of the bug tracking software is to allow a company to track problems associated with 
                software projects on a per project basis.
            </h3>
            <br />
            <h3 class="black">
                Tickets are opened against a project as problems are found.  Any authenticated user may open a ticket
                against a project.
            </h3> 
            <br />
            <h3 class="black">
                Different roles are defined in the tool.  Roles can perform different tasks and view different information.
                The "Guest" ID has the "Admin" role assigned and can perform the most tasks and view the most information.
                Other roles defined are "Project Managers", "Developers", and "Submitters".
            </h3>
            <br />
            <h3 class="black">
                Administrators may create, edit, and list all projects.  They can also assign and unassign roles to users.
                They can add attachments or comments to any ticket.  The actions allowed to other roles are generally limited
                to the tickets or projects to which they have been assigned, or to which they own.
            </h3> 
            </div>
        

        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-8"></div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>


  

