body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



.single-widget-container {
  left: 0;
  top: 30%;
  margin-top: -192.5px;
  position: absolute;
  width: 100%;
}

.navbar-inverse {
  background-color: rgba(102, 105, 104, 0.9);
  border-color: rgba(102, 105, 104, 0.9);
}

.page-header {
  border: none;
  margin: 15px 2.5641% 0;
  padding: 0;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  top: 0;
  right: 0;
}

.invite-widget-container {
  left: 400px;
  top: 50%;
  margin-top: -192.5px;
  position: absolute;
  width: 100%;
}

.input-group {
    margin-left: 0;
    margin-right: 0;
}

.form-control-create {
    display: block;
    width: 30%;
    height: 30px;
    padding: 5px 12px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #555555;
    background-color: white;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
}