@{
    ViewBag.Title = "About";
}
<!-- <h2>@ViewBag.Title.</h2> -->
<!-- <h3>@ViewBag.Message</h3> -->

<div class="container">
    <div class="row">


        <div class="col-md-3 low-back img-about">

            <img src="~/images/Horse race1.jpg" alt="Horse race image" />
        </div>


        <div class="col-md-9 low-back p-about">

            <h3>About Me</h3>
            <p>
                After spending time in my career in finance, application programming, and
                in mainframe systems programming, I am looking forward to switching into a new
                programming career.
            </p>
            <p>
                I currently live in horse country : Kentucky.  I have grown up following the horses.
                This might not sound too surprising living in Kentucky, except that I spent my younger years around
                Erie, Pa.
            </p>
            <p>
                I also played a lot of baseball growing up.  I now get to watch my son play baseball, while
                my daughter is starting soccer.  My wife is getting to enjoy all of this while I am learning
                my new skills.
            </p>
            <br />

        </div>
    </div>
    
</div>
