@{
    ViewBag.Title = "Blog";
}
<!-- <h2>@ViewBag.Title.</h2> -->
<!-- <h3>@ViewBag.Message</h3> -->

<div class="row">
    
    <div class="col-md-12 low-back b-blog">
        <h3 class="text-center"></>Blog - coming soon </h3>
        
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

</div>
