@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    
        <div class="row">
            <div class="col-md-12 low-back">
                <h2>C# Web Developer</h2>
                <p class="lead">Building Web sites and Web applications using HTML, CSS, JavaScript, JQuery, Bootstrap, MVC, and Angular JS.</p>
            </div>
            </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 low-back">
            <h3>Data Requirements</h3>
             <h4>
               Design of systems based on requirements.
            </h4>
           <!-- <br />  -->
        </div>
        <div class="col-md-4 low-back">
            <h3>Function and System Test</h3>
            <h4>Experienced in testing code.</h4>
            <br />
</div>
        <div class="col-md-4 low-back">
            <h3>Implementation</h3>
            <h4> Ensure customer needs are met.</h4>
            <br />
</div>
    </div>
</div>