@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>C# Web Developer</h2>
    <p class="lead">Building Web sites and Web applications using HTML, CSS, JavaScript, JQuery, Bootstrap, MVC, and Angular JS.</p>
</div>

<div class="row">
    <div class="col-md-4 low-back">
        <h2>Data Requirements</h2>
        <p>
            Design of systems based on requirements.
        </p>
    </div>
    <div class="col-md-4 low-back">
        <h2>Function and System Test</h2>
        <p>Experienced in testing code for new installs or updates.</p>
    </div>
    <div class="col-md-4 low-back">
        <h2>Implementation</h2>
        <p>Work with the customer to ensure their needs were met.</p>
    </div>
</div>