@{
    ViewBag.Title = "Resume";
}
<!--<h2>@ViewBag.Title.</h2>-->
<!--<h3>@ViewBag.Message</h3>-->

<div class="container">
    <div class="row h-row">

        <div class="col-md-12 low-back h-resume">
            <h2>Resume</h2>

        </div>


    </div>
</div>
<div class="container">
    <div class="row h-row">

        <div class="col-md-12 low-back h-resume">
            <h3>- Professional Experience -</h3>

        </div>


    </div>
</div>
<div class="container">
    <div class="row">

        <div class="col-md-12 low-back b-resume">

            <ul>
                <li>
                    <b>Mainframe Systems Programmer </b>- supported a number of Fortune 500 customers in the
                    management of their Direct Access Storage Devices ( DASD ) and Tape.

                </li>

                <li>
                    <b>Applications Programmer </b>
                    <ul>
                        <li>
                            Development of new code
                        </li>
                        <li>
                            Period Support of existing code
                        </li>
                        <li>
                            Function and System Test
                        </li>
                        <li>
                            System Analysis and Design to support a new product release
                        </li>
                    </ul>
                </li>
                <li>
                    <b>Financial Analyst</b>
                </li>
            </ul>



        </div>

</div>
    </div>
<div class="container">
    <div class="row h-row">

        <div class="col-md-12 low-back h-resume">
            <h3>- Education -</h3>

        </div>
</div>

    </div>
<div class="container">
    <div class="row h-row">

        <div class="col-md-12 low-back b-resume">

            <ul>
                <li>
                    Major in Computer Science
                </li>
                <li>
                    Master of Business Administration - Major - Management Information Systems
                </li>
                <li>
                    B.S. - Accounting
                </li>
            </ul>

        </div>

</div>
    </div>
