@{
    ViewBag.Title = "Login Failure";
}

<div class="b-general">
    <hgroup>
        <h2 class="body-offwhite text-center b-general">@ViewBag.Title</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</div>