@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="b-general">
    <hgroup class="title">
        <h1 class="body-offwhite text-center b-general">@ViewBag.Title</h1>
    </hgroup>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
