<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Car Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Required -->
    <!--<link href="css/global-style.css" rel="stylesheet" type="text/css" media="screen">-->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/global-style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body ng-app="app">


    <div class="wrapper">

        <div ng-controller="ctrl as c">

            <!--<div class="pg-opt pin">-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="text-center">Car Finder</h1>
                    </div>


                </div>
            </div>
            <!--</div>-->

            <section class="slice bg-3 p-15">
                <div class="w-section inverse">
                    <div class="container">
                        <div class="row">
                            <!--<div class="col-lg-3 col-md-6">-->
                            <div class="col-md-3">
                                <div class="w-box dark">


                                    <h2>Enter Year</h2>
                                    <select style="color:black" ng-options="year for year in c.options.years" ng-model="c.selected.year" ng-change="c.getMakes()"></select>
                                </div>
                            </div>

                            <!--<div class="col-lg-3 col-md-6">-->
                            <div class="col-md-3">
                                <div class="w-box dark">


                                    <h2>Enter Make</h2>
                                    <select style="color:black" ng-options="make for make in c.options.makes" ng-model="c.selected.make" ng-change="c.getModels()"></select>
                                </div>
                            </div>

                            <!--<div class="col-lg-3 col-md-6">-->
                            <div class="col-md-3">
                                <div class="w-box dark">


                                    <h2>Enter Model</h2>
                                    <select style="color:black" ng-options="model for model in c.options.models" ng-model="c.selected.model" ng-change="c.getTrims()"></select>
                                </div>
                            </div>

                            <!--<div class="col-lg-3 col-md-6">-->
                            <div class="col-md-3">
                                <div class="w-box dark last">


                                    <h2>Enter Trim</h2>
                                    <select style="color:black" ng-options="trim for trim in c.options.trims" ng-model="c.selected.trim"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>

            <section class="slice bg-2 p-50">
                <div class="w-section inverse">
                    <div class="container">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <h2 class="text-center">Results</h2>
                                    <p>
                                        Year: {{c.selected.year}}<br />
                                        Make: {{c.selected.make}}<br />
                                        Model: {{c.selected.model}}<br />
                                        Trim: {{c.selected.trim}}
                                    </p>
                                    <span class="clearfix"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


        </div>

    </div>

    <!-- JavaScript -->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/App/app.js"></script>
    <script src="/App/service.js"></script>
    <script src="/App/controller.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/modernizr.custom.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>
    <script type="text/javascript" src="js/jquery.cookie.js"></script>
    <script type="text/javascript" src="js/jquery.easing.js"></script>


    <!-- Plugins -->
    <script type="text/javascript" src="assets/hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="assets/masonry/masonry.js"></script>
    <script type="text/javascript" src="assets/page-scroller/jquery.ui.totop.min.js"></script>
    <script type="text/javascript" src="assets/mixitup/jquery.mixitup.js"></script>
    <script type="text/javascript" src="assets/mixitup/jquery.mixitup.init.js"></script>
    <script type="text/javascript" src="assets/fancybox/jquery.fancybox.pack.js?v=2.1.5"></script>
    <script type="text/javascript" src="assets/easy-pie-chart/jquery.easypiechart.js"></script>
    <script type="text/javascript" src="assets/waypoints/waypoints.min.js"></script>
    <script type="text/javascript" src="assets/sticky/jquery.sticky.js"></script>
    <script type="text/javascript" src="js/jquery.wp.custom.js"></script>
    <script type="text/javascript" src="js/jquery.wp.switcher.js"></script>
</body>
</html>

